h1 {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: 0px;
}
#navigation {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: 0px;
}
#summary {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: 0px;
  width: 25%;
  text-align: center;

}
footer {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: 0px;
}
#bodyy {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 75%;
  bottom-margin: 0px;
  left-margin: 25%;

}
#div1 {
  display: inline-flex;
  width: 100%;
}